ENVIRONMENT=development
LOG_LEVEL=info
GRPC_ADDRESS=:9097

SHUTDOWN_TIMEOUT=20s
HEALTH_INTERVAL=10s

DATABASE_DSN=postgres://credit_ledger_service:credit_ledger_service@pgbouncer:6432/credit_ledger?sslmode=disable
DATABASE_SCHEMA=credit_ledger
DATABASE_MAX_OPEN_CONNS=10
DATABASE_MAX_IDLE_CONNS=5
DATABASE_CONN_MAX_LIFETIME=30m
DATABASE_CONN_MAX_IDLE_TIME=5m
DATABASE_ACQUIRE_TIMEOUT=250ms

IDENTITY_ADDRESS=identity-service:9091
CALL_TIMEOUT=2s

KAFKA_BROKERS=kafka:9092
KAFKA_ALLOW_TOPIC_CREATE=true
CONSUMER_GROUP=credit-ledger
OUTBOX_INTERVAL=1s
OUTBOX_BATCH_SIZE=100

SERVICE_TOKEN_PUBLIC_KEY=generate-with-go-run-./cmd/devkeys
TLS_CA_FILE=/certs/ca.crt
TLS_CERT_FILE=/certs/credit-ledger-service.crt
TLS_KEY_FILE=/certs/credit-ledger-service.key
